<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    backupGlobals="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <directory prefix="test-">./tests/</directory>
        </testsuite>
    </testsuites>

    <!-- PHPUnit 10+ coverage configuration -->
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./tests/</directory>
            <directory>./vendor/</directory>
            <directory>./node_modules/</directory>
        </exclude>
    </coverage>

    <!--
    PHPUnit 9 coverage configuration (use this instead of <coverage> above if you are on PHPUnit 9):

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
                <directory>./node_modules</directory>
            </exclude>
        </whitelist>
    </filter>
    -->
</phpunit>
